body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: whitesmoke; */
}
.container {
    margin: 0 auto;
    width: 97%;
}

/* Header */
.header {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header ul {
    list-style: none;
    display: flex;
}
.header ul li {
    padding: 8px;
}
.header ul li span {
    font-size: 25px;
}
.header ul li span button {
    height: 22px;
    background-color: rgb(0, 89, 255);
    color: white;
    border: none;
    border-radius: 2px;
    position: relative;
    bottom: 10px;
}

/* Midsection */
.mid-section {
    position: relative;
    top: 15px;
    width: 45%;
    margin: 0 auto;
}

.search-region {
    width: 100%;
    display: block;
}
.search-region .image-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.search-region .image-search img {
    height: 100px;
    width: 250px;
}
.search-region .search-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 24px;
}
.search-region .search-input form input {
    width: 510px;
    padding: 2px;
    font-size: 15x;
    outline: none;
    border: white;
}
.search-region .search-input form input[type="text"] {
    font-size: 16px;
}
.search-region .search-input:hover {
    box-shadow: 0 0 6px #ccc;
    border: 1px solid white;
}
.search-region .search-input span {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
}
.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin-top: 100px;
    margin: 0 auto;
}

.languages p {
    font-weight: 500;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif "Arial Narrow";
    margin-top: 40px;
}
.languages ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 43px;
}
.languages ul li {
    padding: 3px;
    color: rgb(5, 5, 172);
    cursor: pointer;
    font-size: 14px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 35px;
    height: 40px;
}
.buttons button {
    background-color: rgba(0, 0, 0, 0.05);
    height: 35px;
    font-weight: 100;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.8);
}

/* Footer */
.footer {
    background-color: rgba(0, 0, 0, 0.05);
    height: 95px;
    margin-top: 205px;
    width: 100%;
}
.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 45px;
    color: rgba(51, 22, 22, 0.7);
    margin: 0 auto;
}
.footer .container p {
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif "Arial Narrow";
    font-size: 15px;
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 45px;
    margin: 0 auto;
}
.services-one {
    display: inline-block;
    width: 50%;
    margin-left: 32px;
}
.services-one p {
    float: left;
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Arial, Helvetica, sans-serif "Arial Narrow";
    font-size: 15px;
}
.services-two {
    display: inline-block;
    width: 50%;
    margin-right: 32px;
}
.services-two p {
    float: right;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Arial, Helvetica, sans-serif "Arial Narrow";
    font-size: 15px;
}
